<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8" />
<title>Person List</title>
<link rel="stylesheet" type="text/css" th:href="@{/css/style.css}" />
</head>
<body>
	<div class="main">
		<h1 style="text-align: left; padding-bottom: 20px">Insert
			Products</h1>
		<form th:action="@{/updateStudent}" th:object="${studentForm}"
			method="POST">
				
			<table style="align-content: center">
				<tr>
					<th>StudentID</th>
					<td><input type="text" th:field="*{studentID}"   /></td>
				</tr>
				<tr>
					<th>Code</th>
					<td><input type="text" th:field="*{studentCode}" /></td>
				</tr>
				<tr>
					<th>Name</th>
					<td><input type="text" th:field="*{studentName}" value="" /></td>
				</tr>
				<tr>
					<th>Address</th>
					<td><input type="text" th:field="*{address}" value="" /></td>
				</tr>
			</table>
			<input type="submit" name="submit" value="Update"
				style="margin-top: 20px; margin-bottom: 20px; padding: 10px" />

		</form>
		  <div th:if="${errorMessage}" th:utext="${errorMessage}"
         style="color:red;font-style:italic;">
         ...
      </div>
	</div>

</body>
</html>