<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8" />
<title>Person List</title>
<link rel="stylesheet" type="text/css" th:href="@{/css/style.css}"
	href="/css/style.css" />
</head>
<body>

	<!-- The form -->


	<!--Load Data-->
	<div class="main">
		<h2>Search for students</h2>
	<form class="example" th:object="${student}" th:action="@{/students}"
		method="get">
		<input type="text" name="search" id="search"  />
		<input type="submit" value="Search" />
		<div th:if="${not #lists.isEmpty(search)}">
			<h2>Students List</h2>
			<div class="table">
				<div class="table-row">
					<div class="table-cell">Code</div>
					<div class="table-cell">Name</div>
					<div class="table-cell">Address</div>
				</div>
				<div class="table-row" th:each="studentForm : ${search}">
					<div class="table-cell" th:utext="${studentForm.studentCode}"></div>
					<div class="table-cell" th:utext="${studentForm.studentName}"></div>
					<div class="table-cell" th:utext="${studentForm.address}"></div>
				</div>
			</div>
			
		</div>		
	</form>
		<div th:if="${#lists.isEmpty(search)}" >
		<div th:if="${not #lists.isEmpty(students)}" >
		<h1 style="text-align: left; padding-bottom: 20px">View Users</h1>
		<a id="button" href="addStudent">Add Person</a>
		<br>
		<div class="table">
			<div class="table-row">
				<div class="table-cell">Code</div>
				<div class="table-cell">Name</div>
				<div class="table-cell">Address</div>
				<div class="table-cell"></div>
			</div>

			<div class="table-row" th:each="studentForm : ${students}">


				<div class="table-cell" th:utext="${studentForm.studentCode}"></div>
				<div class="table-cell" th:utext="${studentForm.studentName}"></div>
				<div class="table-cell" th:utext="${studentForm.address}"></div>
				<div class="table-cell">

					<form
						th:action="@{'/deleteStudent/{id}'(id=${studentForm.studentID})}"
						class="table-row" action="#" th:method="GET">
						<button id="button" type="submit">Delete</button>
					</form>
					<form
						th:action="@{'/updateStudent/{id}'(id=${studentForm.studentID})}"
						class="table-row" action="#" th:method="GET">
						<button id="button" type="submit">Update</button>
					</form>

				</div>

			</div>


		</div>
		</div>
		</div>
		<div th:if="${message}" th:utext="${message}"
         style="color:red;font-style:italic;">
         ...
      </div>
	</div>


</body>
</html>